<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wy.roadtrip"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoTitleBar" >
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.car.CarTeamActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity android:name=".activity.collect.CollectActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
      
        <activity android:name=".activity.collect.CollectViewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity android:name=".activity.line.LineActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".activity.line.LinePreviewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".activity.line.LineEditActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity android:name=".activity.map.OfflineMapActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity android:name=".activity.menu.MenuActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity android:name=".activity.mystyle.MystyleActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".activity.order.OrderActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity android:name=".activity.photo.PhotoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity android:name=".activity.portal.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        
        <activity android:name=".activity.portal.RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".activity.portal.RetrievePassActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
        <activity android:name=".activity.portal.ResetPassActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
       
        <activity android:name=".activity.portal.AddInfoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".activity.portal.ProtocolActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        
    </application>

</manifest>
